.section-title {
  text-align: center;
  border-bottom: 1px solid grey;
  margin: 0 10%;
  text-align: center;
}

.info {
  h2 {
    text-align: center;
  }
  p {
    margin: 20px 200px;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
