.section-title {
  text-align: center;
  border-bottom: 1px solid grey;
  margin: 0 10%;
  margin-bottom: 20px;
  text-align: center;
}

.info {
  h2 {
    text-align: center;
  }
  p {
    font-size: 16px;
    text-indent: 30px;
    margin: 0 12%;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
