.collection-item {
  width: 175px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .image {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    
  }

  .collection-footer {
    text-align: center;
    font-size: 18px;

  }
}
